/* style.css */

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
  color: #333;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

#container-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.list-box {
  background: #f1f1f1;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  padding: 5px 15px;
}
.list-item:nth-child(2n) {
  background-color: #cfcfcf;
}
.product_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item_text {
  width: 100%;
  word-break: break-word;
  /* overflow-wrap: break-word;
  white-space: normal; */
  padding-left: 10px;
}
.completed {
  text-decoration: line-through;
  color: #999;
}

.checkbox-item[type="checkbox"] {
  appearance: none; /* remove aparência nativa */
  -webkit-appearance: none;

  border: 2px solid #28a745;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  position: relative;
}
.checkbox-item[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  background: #28a745;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-empty_title {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}
.remove-btn {
  background: #fd0a37;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
  font-size: 0.725rem;
}

.remove-btn:hover {
  background: #df082f;
}
